<header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">About</h4>
          <p class="text-muted">
            Active storage cloude storage uploader demo.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark box-shadow">
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
        <strong>Cloud Uploader</strong>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>

<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <p class="lead text-muted">Please browse you files to upload something.</p>
      <p>
        <%= form_with(model: @archive, local: true) do |form| %>

        <div class="row justify-content-md-center">
          <div class="col-md-8">
            <div class="input-group">
              <div class="custom-file">
                <%= form.file_field :fileku, class: "custom-file-input" %>
                <label class="custom-file-label" for="archive_fileku">Choose file</label>
              </div>
              <div class="input-group-append">
                <%= form.submit 'Upload', class: 'btn btn-primary' %>
              </div>
            </div>
          </div>
        </div>
        <%end%>
      </p>
    </div>
  </section>

  <div class="album py-0 bg-light">

      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">File Name</th>
            <th scope="col">Size</th>
          </tr>
        </thead>
        <tbody>
        <% @archives.each do |ar| %>
          <tr>
            <td>
              <%= link_to ar.fileku.attachment.blob.filename, ar.fileku %>
              <%=  %>
            </td>
            <td>
              <%= number_to_human_size(ar.fileku.attachment.blob.byte_size) %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>

  </div>

</main>

<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p>
      <small>
        © Maikel Chandika 2020<br>
        <small class="text-muted"><a href="mailto:mkdika@gmail.com">mkdika@gmail.com</a></small>
      </small>
    </p>
  </div>
</footer>
